# Contactos oficiales de produccion para Ruum Ruum Conductor
NEXT_PUBLIC_RUUM_AMBIENTE=production
NEXT_PUBLIC_RUUM_SOPORTE_TELEFONO=5669522178
NEXT_PUBLIC_RUUM_SOPORTE_CORREO=ruum.ruum.mx@gmail.com
NEXT_PUBLIC_RUUM_EMERGENCIA_TELEFONO=911
